.jumbotron {
  padding top: 6rem;
  background-color: #816fe7;
}

#About{
  background-color: #816fe7
}

#Projects{
  background-color: #816fe7
}

#Contact{
  background-color: #816fe7
}
footer{
  background-color: #5a01ffe3
}
